.principal .conteudo{
    margin-top: 80px;
    margin-right: 0.01vw;
}

.principal .conteudo .apoio-externo{
    background-color: #161424;
    height: calc(100vh - 94px - 0px); /* 100vh é a altura total da tela, subtraída das margens e do padding */
    border-radius: 20px;
    column-gap: 10px;
}
.principal .conteudo .apoio-proprio{
    background-color: #161424;
    border-radius: 20px;
    flex:3.4; /* Aumenta o tamanho da área do editor */
    margin-left: 10px;
    overflow: hidden;
    height: calc(100vh - 94px - 0px);
}

.btn { 
    display: inline-block; 
    padding: 10px 20px; 
    margin-top: 0px; 
    background: rgb(7, 189, 53); 
    color: #fff; 
    text-decoration: none; 
    border-radius: 5px; 
}
.container-infos-code{
    display: block;
}
.container-infos-code .status, .time, .memory{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.container-info{
    /*font-weight: bold;*/
    margin-top: 24px;
    text-align: center;
    overflow: auto;
}
.container-info h1{
    font-weight: bold;
}
.status, .time, .memory{
    background-color: #201f47;
    margin: 10px 40px;
    border-radius: 20px;
}
#aceito{
    background-color: rgb(7, 189, 53);
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
}
#info-name{
    font-weight: bold;
    text-decoration: underline 2px;
}
.icon i{
    font-size: 50px;
}
#time-color{
    background-color: #007bff;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
}
#memory-color{
    background-color: #a1047f;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
}
pre {
    background: #f5f5f5;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #333;
    width: 700px;
}

.codigo-user .titulo{
    text-align: center;
    text-decoration: underline;
}

.codigo-user .code{
    display: flex;
    justify-content: center;
}
#errado{
    background-color: rgb(226, 25, 25);
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
}
.apoio-externo{
    text-align: center;
}
.botao-tentar{  
    margin-bottom: 16px;
}
.error-message{
    text-decoration: underline;
}