:root{
    --bg-secundario: #161424;
}

.row {
    display: flex;
    flex: 1;
    height: 100%;
    column-gap: 10px;
}
.col {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 6.6px;
    border-radius: 20px;
}
.lista-de-questoes {
    flex:3.4; /* Aumenta o tamanho da área do editor */
    margin-right: 10px;
}

.principalContainer{
    margin-top: 78px;
}
.dados-equipe, .lista-de-questoes{
    background-color: var(--bg-secundario);
}