*{
    color: aliceblue;
    font-family: sans-serif;
}
.painel-user{
    background-color: rgb(2, 31, 51);
    padding: 20px;
}

.painel-user .mensagem{
    font-size: 18px;
    font-weight: bold;
}

.conquistas{
    display: flex;
}

#qtn{
    background-color: rgb(24, 57, 78);
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    flex-wrap: wrap;
}
.qtn-acertos{
    border-top: 3px solid green;
}
.qtn-saidasErradas{
    border-top: 3px solid yellow;
}
.qtn-erros{
    border-top: 3px solid red;
}